<div>
    <div class="list-container">
        {{#each beersArray}}
        <article>
            <div class="list-img">
                <img src="{{this.image_url}}" alt="beer image">
            </div>
            {{> beerpartial}}
        </article>
        {{/each}}
    </div>
</div>