<div>
    <img src="images/beer.png" alt="Copo de cerveja">

    <button type="submit" formmethod="GET">Check the beers!</button>
    <button type="submit" formmethod="GET">Check a random beer!</button>

</div>